
@{
    Layout = null;
}


<!DOCTYPE html>
<html>

<head>
    <title> Master login Form Responsive Widget Template  :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content=" Master  Login Form Widget Tab Form,Login Forms,Sign up Forms,Registration Forms,News letter Forms,Elements" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href="~/weblogin/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="//fonts.googleapis.com/css?family=Cormorant+SC:300,400,500,600,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
</head>

<body>
    <div class="padding-all">
        <div class="header">
            <h1>Tatil&Seyahat Blogu</h1>
        </div>

        <div class="design-w3l">
            <div class="mail-form-agile">
                @if (TempData["Mesaj"] != null)
                {
                    <div style="background-color: #f8d7da !important; color: #721c24 !important; border: 1px solid #f5c6cb !important; padding: 12px !important; border-radius: 4px !important; margin-bottom: 20px !important; text-align: center !important; font-size: 15px !important; font-weight: bold !important; width: 100% !important; display: block !important;">
                        @TempData["Mesaj"]
                    </div>
                }
                @using (Html.BeginForm("Giris", "Login", FormMethod.Post))
                {
                    <input type="text" name="Kullanici" placeholder="Kullanıcı Adı..." required="" />
                    <input type="password" name="Sifre" class="padding" placeholder="Şifre" required="" />
                    <input type="submit" value="Giriş Yap">
                }
            </div>
            <div class="clear"> </div>
        </div>

        <div class="footer">
            <p>© 2026  Tatil&Seyahat Blogu.Tüm Hakları Saklıdır. | Design by  <a href="https://w3layouts.com/">  w3layouts </a></p>
        </div>
    </div>
</body>
</html>