
@{
    ViewBag.Title = "Iletisim";
    Layout = "~/Views/Shared/_AdmimLayout.cshtml";
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
    <title>Free Easy-Trip Website Template | Contact :: w3layouts</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="css/slider.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>

    <div class="clear"></div>
    <div class="contact-bottom">
        <div class="contact-left">
            <div class="contact-add">
                <br />
                <h3>Adres Bilgilerimiz</h3>
                <p>Bizimle iletişime geçmek, öneride bulunmak veya iş birliği yapmak için aşağıdaki iletişim kanallarını kullanabilir ya da ofisimizi ziyaret edebilirsiniz.</p>
                <p>Telefon: +90 312 000 0000</p>
                <p>Faks: +90 312 000 0001</p>
                <p>E-posta: <a href="mailto:info@tatilseyahat.com">info@tatilseyahat.com</a></p>
            </div>
            <br />
            <br />
        </div>
        <div class="contact-map">
            <iframe width="580" height="250" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                    src="https://www.openstreetmap.org/export/embed.html?bbox=32.85%2C39.90%2C32.87%2C39.92&layer=mapnik">
            </iframe>
            <br />
            <small>
                <a href="https://www.openstreetmap.org/#map=15/39.91/32.86" target="_blank" style="color: #555; font-weight: bold; text-decoration: none;">
                    HARİTA
                </a>
            </small>
        </div>

        <div class="clear"></div>


</body>
</html>



