
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<div class="content">
    <div class="wrap">
        <div class="about">
            <h3>HAKKIMIZDA</h3>
            <img src="~/Web/images/about_banner.jpg" alt="" />
            <p></p>
        </div>
    </div>
</div>
